@font-face {
font-family: "Telkom123-Bold";
src: url("/vendors/telkom/fonts/Telkom123-Bold.woff") format("woff")
}

@font-face {
font-family: "Telkom123-Light";
src: url("/vendors/telkom/fonts/Telkom123-Light.woff") format("woff")
}

@font-face {
font-family: "Telkom123-Regular";
src: url("/vendors/telkom/fonts/Telkom123-Regular.woff") format("woff")
}

.telkom-font-bold{
	font-family: 'Telkom123-Bold', sans-serif;
	font-weight:normal;
	font-style:normal;
}

.vms-sort, .vms-sort-asc, .vms-sort-desc{
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.no-select{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* Force vertical height or Footer to bottom when too little content on page */
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}


.tabs .indicator { display: none; }
.tabs .tab a.active { border-bottom: 3px solid #0083c2; }

/* Materialize Icons*/
@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(/vendors/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(/vendors/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(/vendors/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(/vendors/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* Loading Overlay*/
.vms-overlay {
  position: absolute; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 200; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.vms-stack {
	position: relative;
}

.vms-stack-inner {
  position: absolute;
  top: 0;
  left: 0;
}

.vms-count-down{
}